.search {
    width: 100%;
    margin-bottom: 2rem;
    .mat-form-field {
        width: 100%;
    }
    &__field {
        position: relative;
        mat-icon {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}